<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saif IoT Platform</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/beb21d8422.js" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->

</head>

<!-- Menu górne-->
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand col-md-2 col-lg-2 mr-1" href="#">
        SAIF IoT Platform
    </a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <input class="form-control form-control w-80" type="text" placeholder="Search" aria-label="Search">

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>

</nav>

<!--START -->
<div class="container-fluid">
    <div class="row">

        <!--Menu START-->
        <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-dark sidebar collapse px-2">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">

                    <li class="nav-item  px-2">
                        <a class="nav-link menu-select" href="/dashboard/1/view">Dashboard<span class="sr-only">(current)<span>
                        </a>
                    </li>
                    <a class="nav-link menu-select" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-network-wired px-2"></i>Sensors</a>
                    <div id="submenu-1" class="collapse">
                        <ul class="nav nav-small flex-column">
                            <li class="nav-item">
                                <div class="menu-select-1 px-4">
                                    <a class="nav-link" href="/sensor/list">My Sensors</a>
                                    <a class="nav-link" href="sensors.pl">Add Sensor</a>
                                    <a class="nav-link" href="sensors.pl">Configuration</a>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <a class="nav-link menu-select" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-database px-2"></i>Data</a>
                    <div id="submenu-2" class="collapse">
                        <ul class="nav nav-small flex-column">
                            <li class="nav-item">
                                <div class="menu-select-1 px-4">
                                    <a class="nav-link" href="/sensorData/list">My Data</a>
                                    <a class="nav-link" href="sensors.pl">View</a>
                                    <a class="nav-link" href="sensors.pl">Data operations</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <a class="nav-link menu-select" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-exclamation-circle px-2"></i>Alarm</a>
                    <div id="submenu-3" class="collapse">
                        <ul class="nav nav-small flex-column">
                            <li class="nav-item">
                                <div class="menu-select-1 px-4">
                                    <a class="nav-link" href="sensors.pl">Alarm</a>
                                    <a class="nav-link" href="sensors.pl">Monitornig</a>
                                    <a class="nav-link" href="sensors.pl">Notification</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <a class="nav-link menu-select" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-wifi px-2"></i>Conncection</a>
                    <div id="submenu-4" class="collapse">
                        <ul class="nav nav-small flex-column">
                            <li class="nav-item">
                                <div class="menu-select-1 px-4">
                                    <a class="nav-link" href="sensors.pl">Sensors</a>
                                    <a class="nav-link" href="sensors.pl">Applications</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <a class="nav-link menu-select" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-users px-2"></i>Users</a>
                    <div id="submenu-5" class="collapse">
                        <ul class="nav nav-small flex-column">
                            <li class="nav-item">
                                <div class="menu-select-1 px-4">
                                    <a class="nav-link" href="/user/list">My User</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </ul>
            </div>
        </nav>

        <div class="container">

            <div class="col-lg-6 m-5 justify-content-center">
                <img th:src="${theSensorDetails.url}" width="250" height="250">
              </div>  
            <div class="row justify-content-center mt-5">
  
                    <div class="col-lg-2 mb-3 mt-4">
                        <ul class="nav nav-tabs flex-lg-column" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" id="sensordetail-tab" data-toggle="tab" href="#sensordetail" role="tab" aria-controls="sensordetail" aria-selected="true">Sensor Details</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Users</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Alarm</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="connection-tab" data-toggle="tab" href="#connection" role="tab" aria-controls="connection" aria-selected="false">Connection</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="integrations-tab" data-toggle="tab" href="#integrations" role="tab" aria-controls="integrations" aria-selected="false">Data</a>
                            </li>
                        </ul>
                    </div>  
               
            <div class="col-lg-9 mb-2">
              <div class="card">
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="sensordetail">
                      
                      <!--end of avatar-->
                     
                        <div class="form-group row align-items-center">
                          <label class="col-3">Name:</label>
                          <div class="col">
                            <p th:text="${theSensorDetails.name}">Name</p>
                          </div>
                        </div>

                        <div class="form-group row align-items-center">
                            <label class="col-3">Status:</label>
                            <div class="col">
                                <div th:switch="${theSensorDetails.status}">
                               <!-- <p th:text="${theSensorDetails.status}">Status</p>-->
                                <p th:case="true" class="text-success"><i class="fas fa-check-circle"></i></p>
                                <p th:case="false" class="text-danger"><i class="fas fa-times-circle"></i></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row align-items-center">
                          <label class="col-3">Location:</label>
                          <div class="col">
                           <p th:text="${theSensorDetails.place}">Location</p>
                          </div>
                        </div>
                        <div class="form-group row align-items-center">
                          <label class="col-3">Importance:</label>
                          <div class="col">
                            <p th:text="${theSensorDetails.importance}">Importance</p>
                          </div>
                        </div>
                        <div class="form-group row align-items-center">
                          <label class="col-3">Measurement Frequency:</label>
                          <div class="col">
                           <p th:text="${theSensorDetails.measurementFrequency}">MeasurementFrequency</p>
                          </div>
                        </div>
                        <div class="form-group row align-items-center">
                          <label class="col-3">Accuracy:</label>
                          <div class="col">
                           <p th:text="${theSensorDetails.accuracy}">Accuracy</p>
                          </div>
                        </div>
                      
                        <div class="form-group row">
                          <label class="col-3">Descriptions:</label>
                          <div class="col">
                            <textarea th:placeholder="${theSensorDetails.descriptions}" name="profile-bio" class="form-control" rows="4"></textarea>
                            <small>Brief information about the device status</small>
                          </div>
                        </div>
                        <div class="row justify-content-end">
                          <button class="btn btn-dark">Edit</button>
                        </div>
                     
                    </div>
                     
                    <div class="tab-pane fade" role="tabpanel" id="user">
                        <p>User List:</p>
                        <table>
                            <th:block  th:each="temptheUserList : ${theUserList}">
                             <div class="py-1">
                                <tr>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <div class="media align-items-center">
                                                        <img alt="Image" src="/image/user-icon.png" width="60" height="60" />
                                                        <div class="media-body ml-2">
                                                            <span class="h6 mb-0 d-block" th:text="${temptheUserList.firstName} + ' ' + ${temptheUserList.lastName}">Slack</span>
                                                            <span class="text-small text-muted" th:text="${temptheUserList.permissions}">Permissions: Read, Write, Comment</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-sm btn-danger">
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </div>
                            </th:block>
                            
                        </table>

                        <div class="row justify-content-end py-2">
                          <button type="submit" class="btn btn-dark">Add</button>
                        </div>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="notifications">
                        <h5>Alarm</h5>

                        <div class="form-group row align-items-center">
                          <label class="col-3">Response time [s]:</label>
                          <div class="col">
                          <p>50</p>
                          </div>
                        </div>

                        <div class="form-group row align-items-center">
                          <label class="col-3">Maximum value:</label>
                          <div class="col">
                          <p>120</p>
                          </div>
                        </div>

                        <div class="form-group row align-items-center">
                          <label class="col-3">Minimum value:</label>
                          <div class="col">
                          <p>-30</p>
                          </div>
                        </div>

                        <div class="row justify-content-end">
                          <button type="submit" class="btn btn-dark">Edit</button>
                        </div>
                    </div>
                      <!-- START-->
                    <div class="tab-pane fade" role="tabpanel" id="connection">

                        <h6>Download data:</h6>
                        <div class="card text-center">
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <div class="mb-4">
                                    <table>
                                        <th>
                                            <div class="py-1">
                                                <tr>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center">
                                                                <div class="col">
                                                                    <div class="media align-items-center">
                                                                        <img alt="Image" src="/image/sensor_icon.png" width="60" height="60" />
                                                                        <div class="media-body ml-2">
                                                                            <span class="h6 mb-0 d-block">Slack</span>
                                                                            <span class="text-small text-muted">Permissions: Read, Write, Comment</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <button class="btn btn-sm btn-danger">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            </div>
                                        </th>
                                    </table>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <h6 class="py-2">Send data:</h6>
                          <div class="card text-center">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col">
                                          <div class="mb-4">
                                              <table>
                                                  <th>
                                                      <div class="py-1">
                                                          <tr>
                                                              <div class="card">
                                                                  <div class="card-body">
                                                                      <div class="row align-items-center">
                                                                          <div class="col">
                                                                              <div class="media align-items-center">
                                                                                  <img alt="Image" src="/image/sensor_icon.png" width="60" height="60" />
                                                                                  <div class="media-body ml-2">
                                                                                      <span class="h6 mb-0 d-block">Slack</span>
                                                                                      <span class="text-small text-muted">Permissions: Read, Write, Comment</span>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-auto">
                                                                              <button class="btn btn-sm btn-danger">
                                                                                  Edit
                                                                              </button>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </tr>
                                                      </div>
                                                  </th>
                                              </table>
                                              <table>
                                                  <th>
                                                      <div class="py-1">
                                                          <tr>
                                                              <div class="card">
                                                                  <div class="card-body">
                                                                      <div class="row align-items-center">
                                                                          <div class="col">
                                                                              <div class="media align-items-center">
                                                                                  <img alt="Image" src="/image/server.png" width="60" height="60" />
                                                                                  <div class="media-body ml-2">
                                                                                      <span class="h6 mb-0 d-block">Slack</span>
                                                                                      <span class="text-small text-muted">Permissions: Read, Write, Comment</span>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-auto">
                                                                              <button class="btn btn-sm btn-danger">
                                                                                  Edit
                                                                              </button>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </tr>
                                                      </div>
                                                  </th>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                    </div>
                      <!-- STOP-->
                    <div class="tab-pane fade" role="tabpanel" id="integrations">

                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="media align-items-center">
                                <img alt="Image" src="assets/img/logo-integration-slack.svg" />
                                <div class="media-body ml-2">
                                  <span class="h6 mb-0 d-block">Slack</span>
                                  <span class="text-small text-muted">Permissions: Read, Write, Comment</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-sm btn-danger">
                                Revoke
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="media align-items-center">
                                <img alt="Image" src="assets/img/logo-integration-dropbox.svg" />
                                <div class="media-body ml-2">
                                  <span class="h6 mb-0 d-block">Dropbox</span>
                                  <span class="text-small text-muted">Permissions: Read, Write, Upload</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-sm btn-danger">
                                Revoke
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="media align-items-center">
                                <img alt="Image" src="assets/img/logo-integration-drive.svg" />
                                <div class="media-body ml-2">
                                  <span class="h6 mb-0 d-block">Google Drive</span>
                                  <span class="text-small text-muted">Permissions: Read, Write</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-sm btn-danger">
                                Revoke
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="media align-items-center">
                                <img alt="Image" src="assets/img/logo-integration-trello.svg" />
                                <div class="media-body ml-2">
                                  <span class="h6 mb-0 d-block">Trello</span>
                                  <span class="text-small text-muted">Permissions: Read, Write</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-sm btn-danger">
                                Revoke
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
         
            </div>
        </div>
    </div>
</div>
<!--END-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>
