body {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Menu top*/

.menu-select {
  font-size: 1.4rem
}

.menu-select-1 {

  font-size: 1.2rem
}


/* chart */

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(80vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 490;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #fff;
}

.sidebar .nav-link.active {
  color: #fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* Panel */
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}


.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

              /** Nav Tabs **/
        .nav-tabs {
          border-bottom: 0 solid transparent; }
          .nav-tabs .nav-item {
            margin-bottom: 0; }
          .nav-tabs .nav-link {
            border: 0 solid transparent;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem; }
            .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
              border-color: #e9ecef #e9ecef transparent; }
            .nav-tabs .nav-link.disabled {
              color: #6c757d;
              background-color: transparent;
              border-color: transparent; }
          .nav-tabs .nav-link.active,
          .nav-tabs .nav-item.show .nav-link {
            color: #007bff;
            background-color: #fff;
            border-color: transparent; }
          .nav-tabs .dropdown-menu {
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0; }

            .modal-content > .nav-tabs {
              border-radius: 0;
              padding: .25rem .875rem; }


@media (min-width: 992px) {
  .nav-tabs .nav-link {
    padding: .5rem 2.5rem; }
  .nav-tabs + .tab-content {
    margin-top: 1.5rem; } }

.nav-tabs {
  border-radius: 0.5rem;
  background: #e9ecef; }
  .nav-tabs .nav-item {
    margin: .5rem; }
  .nav-tabs .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: .5rem;
    transition: color .35s ease-out; }
    .nav-tabs .nav-link:not(.active) {
      color: rgba(33, 37, 41, 0.5); }
      .nav-tabs .nav-link:not(.active):hover {
        color: #007bff; }
    .nav-tabs .nav-link.disabled {
      opacity: .5;
      pointer-events: none; }
  .nav-tabs.flex-column .nav-link {
    padding-left: 1rem; }

@media (max-width: 991.98px) {
  .nav-tabs + .tab-content {
    margin-top: 0.75rem; } }

@media (min-width: 992px) {
  .nav-tabs.flex-lg-column .nav-item + .nav-item {
    margin-top: 0; } }